.containMain{
    img{
        margin-bottom: 6em;
      width: 100%;
    }
    margin-top: 1em;
    margin-bottom: 3em;
    margin-left: 6em;
  margin-right: 6em;
}

.cards{
    background-color: 
    #F6F6F6;
    height: 1000px;
    border-radius: 25px;
}