.containMain{
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: 8em;
margin-right: 8em;

  .pictureHome{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
height: 300px;
margin-bottom: 6em;
img{
  filter: brightness(0.6);
  object-fit: cover;
      border-radius: 25px;
      width: 100%;
      height: 100%;
    }
  }
  
  .textPicture{
    font-weight: 500;
    position: absolute;
    color: white;
    font-size: 48px;
  }
}


.backCards{
    background-color: 
    #F6F6F6;
    height: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

// mobile version : 
@media only screen and (max-width: 480px) {
 .containMain{
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
  .textPicture{
    font-size: 24px;
    width: 70%;
    padding-left: 15px;
  }
  .pictureHome{
    margin-bottom: 2em;
    justify-content: flex-start;
    height: 111px;
    img{
      border-radius: 12px;
    }
  }
 }
 
// cards : 
.backCards{
background-color: white;
  .cardsOfHome{
    flex-direction: column;
    width: 100%;
    li{
      width: 100%;
    }
  }
}
}