.footer{
    width: 100%;
    height: 200px;
    background-color: black;
   
    .anotationFooter{
        height: 25px;
    }
}
.containFooter{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   gap: 3em;
   height: 100%;
}